@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Georgia", sans-serif;
  font-size: 22px;
  line-height: 24px;
  color: #333333;
  background-color: #ffffff;
}
.page-header {
  color: #000000;
  background-color: #ffffff;
}
.navigation {
  display: flex;
  width: 1200px;
  margin: auto;
}
.page-header-logo {
  width: 139px;
  padding: 0;
  margin-left: 70px;
  margin-right: 30px;
}
.navigation-list {
  margin: 0;
  padding: 0;
  width: 430px;
}
.navigation-user {
  max-width: 290px;
  margin-left: auto;
}
.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
.navigation-link-bottom {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}
.main-container {
  flex-grow: 1;
}

.main-index {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
}
.welcome {
  display: block;
  margin: 0 auto;
}
.description {
  text-align: center;
}
.description-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  }
.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: auto;
  width: 180px;
  text-align: center;
}
.hfs-title {
  margin-top: 30px;
  margin-bottom: 30px;
}
.advantages-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.advantages-text {
  width: 230px;
  margin: auto;
}
.advantages-item {
  display: flex;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  text-align: center;
}
.advantages-town {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background-color: #82B3D3;
  margin: 0;
  flex-grow: 1;
  padding: 92px 0;
}
.advantages-item-trio {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  width: 33.333%;
  text-align: center;
  padding: 80px 0;
}
.house {
  background-color: rgba(131, 179, 211, 0.12);
}
.food {
  background-color: #ffffff;
}
.souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
}
.hfs-list {
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center;
}
.advantages-bridge {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background-color: #82B3D3;
  margin: 0;
  flex-grow: 1;
  padding: 92px 0;
}
.small-area {
  background-color: rgba(131, 179, 211, 0.12);
}
.road {
  background-color: rgba(131, 179, 211, 0.2);
}
.tourists {
  background-color: rgba(131, 179, 211, 0.12);
}
.art-list {
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.art-trio {
  padding: 103px 0;
}
.hotel {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
  width: 1200px;
  height: 417px;
  text-align: center;
}
.hotel-search-sedona {
  padding: 92px 304px;
  margin: 0;
}
.hotel-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.hotel-search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}
.subscibe-index {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url("../images/main/background-subscribe.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0 auto;
  display: block;
  width: 1200px;
  height: 411px;
}
.subscribe-subscribe{
  padding: 94px 200px;
  margin: 0;
}
.subscibe-catalog {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}
.subscribe-title-index {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.subscribe-title-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin-top: 94px;
  margin-bottom: 29px;
}
.subscribe-text {
  margin: auto;
}
.page-footer {
  width: 1200px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin-top: 0;
}
.page-footer a {
  color: #000000;
  text-decoration: none;
}
.page-footer-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 70px 0 70px;
}
.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 142px;
  padding: 0;
}
.contacts-social {
  list-style-type: none;
}
.breadcrumbs-link {
  text-decoration: none;
}
.breadcrumbs {
  display: flex;
  margin: 0;
}
.filters {
  font-weight: 400;
  font-size: 16px;
  Line-height: 20px;
  color: #ffffff;
  background-color:#82B3D3;
  background-image: url("../images/catalog/background-filter.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
  }
  .catalog-hotels {
    width: 1060px;
    margin: auto;
    padding: 0;
  }
  .catalog-filter-title {
    text-align: left;
  }
  .catalog-hotel-filter {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 35px 0px 70px 0px;
    padding: 0;
  }
  fieldset {
    border:0 none;
    margin: 0;
    padding: 0;
 }
  .catalog-filter{
    margin: 0;
    padding: 0;
  }
  .inner-header {
    margin: 35px 635px 0px 70px;
    padding: 0;
  }
  .inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    text-align: Left;
    vertical-align: Top;
    color: #ffffff;
    margin: 0;
  }

  .catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }
  .infrastructure{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .catalog-type-of-housing {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .price {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .submits-hotel-filter {
    list-style-type: none;
    display: flex;
  }
  .catalog-filter-list {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .catalog-filter-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    list-style-type: none;
    text-align: left;
    padding-top: 15px;
  }
.control-input {
  font-size: 18px;
  line-height: 21px;
}
.control {
  text-align: left;
}
.button-filters-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: Center;
  vertical-align: Center;
  text-transform: uppercase;
}
.button-filters-reset {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: Center;
}
.submits-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sorting {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 71px;
}
.sorting-amount{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}
.sorting-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  margin-left: auto;
}
.bottom-sorting {
  margin-left: 78px;
}
.hotel-cards {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  width: 1056px;
  margin: auto;
 }
.hotel-card-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: auto;
  text-align: left;
  width: 100%;
  gap: 18px;

}
.hotel-card-item {
  list-style-type: none;
  margin: 18px;
  width: 300px;
}
.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  margin-top: 16px;
}
.hotel-card-link {
 text-decoration: none;
}
.card-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: auto;
}
.hotel-card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  margin: 16px 0;
 }
.hotel-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: auto;
}
.hotel-card-button-more{
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.hotel-card-button-favorite {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}
.hotel-card-button-in-favorite {
  color: #ffffff;
  background-color: #7DB54F;
  text-decoration: none;
  text-transform: uppercase;
}
.rating-hotels {
  text-transform: uppercase;
}
.button-card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 37px;
  border-radius: 5px;
}
.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  width: 1056px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.pagination-list {
  display: flex;
  width: 400px;
  justify-content: space-between;
  padding: 0;
}
.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}
.pagination-item {
  list-style-type: none;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: auto;
  border: 1px solid #82B3D3;
  background-color: #82B3D3;
  padding: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.amount-hotels {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  padding: 0;
}
.amount-hotels-select {
  width: 160px;
  height: 49px;
}
.visualy-hidden {
  display: none;
}
